**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.plan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
!*.tfvars.json.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.env
.env.*
!.env.example
